#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

 .navbar-default{
  background-color: #4CAF50;
  font-size: 18px;
  color: #ddd;
}
.nav-link ,.nav-link:hover{
  font-size: 18px;
  color: white;
  font-weight: bold;
}
form{
  padding: 50px;
}
.form-control{
  max-width: 400px;
}


